<div class="content">
    {{#each contacts}}
        <div class="contact" data-id="{{@index}}"></div>
        <span class="avatar small">&#9787;</span>
        <span class="title">{{firstname}} {{lastName}}</span>
    {{/each}}
</div>
